<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="header">
    <div class="header-content">
      <h1 class="header-title">
        Welcome to the {{ title }}!
      </h1>
    </div>
  </div>

</div>
<div class="frame-entry-container">
  <div *ngFor="let frame of this.bowl.frames" class="frame-entry-wrapper">
    <label class="frame-number">{{ frame.currentFrame }}</label>
    <div class="frame-score">
        {{frame.firstRoll | number}}
    </div>
    <div class="frame-score">
        {{frame.frameTotal | number }}
    </div>
    <div class="frame-score">
      {{frame.secondRoll | number}}
    </div>
  </div>
  <div class="frame-entry-wrapper">
    <label>Total</label>
    <div *ngIf=this.bowl>
      {{ this.bowl.getTotalScore | number}}
    </div>
  </div>
</div>

<div *ngIf="this.bowl.pinOptions" class="pin-button-container">
  <button [disabled]="pinOption.isDisabled" *ngFor="let pinOption of this.bowl.pinOptions" class="pin-button" (click)="roll(pinOption._value)">
    <label >{{ pinOption._label }}</label>
  </button>

  <button (click)="clear()" class="pin-button">
    <label >Clear</label>
  </button>
</div>
